.heading-container {
  background-image: url(../../assets/images/zug-wallpaper.webp);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;

  .filter {
    height: 100%;
    background-color: rgba($color: #000, $alpha: 0.7);
    display: flex;
    justify-content: center;
    align-items: center;

    .header-shadow {
      position: absolute;
      top: 0;
      height: 3rem;
      width: 100%;
      background-color: rgba($color: #000, $alpha: 0.1);
    }

    .heading-wrapper {
      flex-grow: 1;
      display: flex;
      margin: 0 2rem;
      margin-top: -20rem;
      flex-direction: column;
      max-width: 80rem;
      h1 {
        color: white;
        align-self: start;
        font-size: 3rem;
      }
    }
  }
}
