#product-details-page-container {
  margin: 0 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
  column-gap: 2rem;

  img {
    width: 100%;
  }

  .info-wrapper {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1rem;
  }
}
